h1{
    font-size: 100px;
    color: khaki;
    text-align: center;
    background-image: url("./images/pattern.jpeg");
}
h1,h2,h3,p{
    font-family: Helvetica;
}

.item h2 {
    font-size:32px;
    color:white;
}

#brush {
    background-color: mediumspringgreen;
}

.price{
    font-weight: bold;
    color:blue;
}

#frame {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}